In [35]:
import numpy as np 
import pandas as pd 
from tabulate import tabulate

In [36]:
statFile_df = pd.read_excel('D:\\Users\\michael.oconnor\\q1\\q1_2020addtnlClaims2Unzip\\T1MD0568_stat_py2020_Q1.xlsx')
# ('D:\\Users\\michael.oconnor\\q1\\q1_2020addtnlClaims3Unzip\\T1MD0641_stat_py2020_Q1.xlsx')

# ('D:\\Users\\michael.oconnor\\q2\\allClaimsUnzipped\\T1MD0370_stat_py2020_Q2.xlsx')

In [37]:
statFile_df.head()

                   File_Name  Num_Variables  Num_Records
0  T1MD0568_ptaclm_py2020_Q1            255         8421
1  T1MD0568_ptarev_py2020_Q1             59        82623
2  T1MD0568_ptaprc_py2020_Q1             13         1640
3  T1MD0568_ptadgn_py2020_Q1             13        50417
4  T1MD0568_ptbphy_py2020_Q1            136       293380

In [38]:
statFile_df.tail()

                   File_Name  Num_Variables  Num_Records
5  T1MD0568_ptbdme_py2020_Q1            134        15505
6     T1MD0568_ptd_py2020_Q1             21        75800
7   T1MD0568_bened_py2020_Q1            476         1687
8     T1MD0568_mds_py2020_Q1            670          705
9   T1MD0568_oasis_py2020_Q1            595          663

In [39]:
print(tabulate(statFile_df, headers='keys'))

File_Name                    Num_Variables    Num_Records
--  -------------------------  ---------------  -------------
 0  T1MD0568_ptaclm_py2020_Q1              255           8421
 1  T1MD0568_ptarev_py2020_Q1               59          82623
 2  T1MD0568_ptaprc_py2020_Q1               13           1640
 3  T1MD0568_ptadgn_py2020_Q1               13          50417
 4  T1MD0568_ptbphy_py2020_Q1              136         293380
 5  T1MD0568_ptbdme_py2020_Q1              134          15505
 6  T1MD0568_ptd_py2020_Q1                  21          75800
 7  T1MD0568_bened_py2020_Q1               476           1687
 8  T1MD0568_mds_py2020_Q1                 670            705
 9  T1MD0568_oasis_py2020_Q1               595            663

In [40]:
df2 = statFile_df["File_Name"].str.split("_", expand=True).rename(columns={0:"practice_id",                                                                          1: "file_type",
 2: "year",
 3: "quarter"})

In [41]:
print(tabulate(df2, headers='keys'))

practice_id    file_type    year    quarter
--  -------------  -----------  ------  ---------
 0  T1MD0568       ptaclm       py2020  Q1
 1  T1MD0568       ptarev       py2020  Q1
 2  T1MD0568       ptaprc       py2020  Q1
 3  T1MD0568       ptadgn       py2020  Q1
 4  T1MD0568       ptbphy       py2020  Q1
 5  T1MD0568       ptbdme       py2020  Q1
 6  T1MD0568       ptd          py2020  Q1
 7  T1MD0568       bened        py2020  Q1
 8  T1MD0568       mds          py2020  Q1
 9  T1MD0568       oasis        py2020  Q1

In [42]:
# print(statFile_df["Num_Records"])
df1 = statFile_df.drop(['Num_Variables'], axis=1)

In [43]:
new_df = pd.concat([df1, df2], axis=1)

In [44]:
print(tabulate(new_df, headers='keys'))

File_Name                    Num_Records  practice_id    file_type    year    quarter
--  -------------------------  -------------  -------------  -----------  ------  ---------
 0  T1MD0568_ptaclm_py2020_Q1           8421  T1MD0568       ptaclm       py2020  Q1
 1  T1MD0568_ptarev_py2020_Q1          82623  T1MD0568       ptarev       py2020  Q1
 2  T1MD0568_ptaprc_py2020_Q1           1640  T1MD0568       ptaprc       py2020  Q1
 3  T1MD0568_ptadgn_py2020_Q1          50417  T1MD0568       ptadgn       py2020  Q1
 4  T1MD0568_ptbphy_py2020_Q1         293380  T1MD0568       ptbphy       py2020  Q1
 5  T1MD0568_ptbdme_py2020_Q1          15505  T1MD0568       ptbdme       py2020  Q1
 6  T1MD0568_ptd_py2020_Q1             75800  T1MD0568       ptd          py2020  Q1
 7  T1MD0568_bened_py2020_Q1            1687  T1MD0568       bened        py2020  Q1
 8  T1MD0568_mds_py2020_Q1               705  T1MD0568       mds          py2020  Q1
 9  T1MD0568_oasis_py2020_Q1             663  T1MD0568       oasis        py2020  Q1